body {
    background-color: #312F47;
    
    font-size: 40px;
    list-style-type: none;
    color: white;
}

#Database {
    
    font-size:20px;
    list-style-type: none;
    text-align: center;
}